[submodule "external/reactphysics3d"]
	path = external/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/--force"]
	path = external/--force
	url = https://github.com/ocornut/imgui
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
